extends layout

block content
    .centered-container-login
        h1 Welcome to Critic.Spot
        h2 A Spotify Integration App
        p
            a.login-button(href="/login") Login with Spotify

    .bottom-page-message an smb project